<!DOCTYPE html>
<head>
    <title>AdminHome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin Page</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:56308/Admin/AdminHome.html">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:55773/Admin/GetAccountDetails">Get Account Details</a></li>
                        <li><a href="http://localhost:55773/Admin/CreateAccount">Create Account</a></li>
                        <li><a href="http://localhost:55773/Admin/UpdateAccount">Update Account</a></li>
                        <li><a href="http://localhost:55773/Admin/DeleteAccount">Delete Account</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Loans <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:55773/Admin/ViewLoans">View Loans</a></li>
                        <li><a href="http://localhost:55773/Admin/ApproveLoans">Approve Loans</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Deposits <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:55773/Admin/ViewDeposits">View Deposits</a></li>
                        <li><a href="http://localhost:55773/Admin/ApproveDeposits">Approve deposits</a></li>

                    </ul>
                </li>
               
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
