<!DOCTYPE html>
<head>
    <title>UserHome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Redirect.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://localhost:55773/User/UserHome">MyBank </a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="http://localhost:55773/User/UserHome">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:55773/User/SendMoney">Send Money</a></li>
                       
                        <li><a href="http://localhost:55773/User/TransactionHistory">Transaction History</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Loans <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:55773/User/ViewLoans">View Loans</a></li>
                        <li><a href="http://localhost:55773/User/ApplyLoans">Apply Loans</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Deposits <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:55773/User/ViewDeposits">View Deposits</a></li>
                        <li><a href="http://localhost:55773/User/ApplyDeposits">Apply deposits</a></li>

                    </ul>
                </li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="http://localhost:55773/user/Login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
