
@{
    ViewBag.Title = "CreateAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  
    <script src="~/Scripts/CreateAccount.js"></script>

</head>
<body>
    <form id="form1">
        <table style="font-family : Arial" width="1200">


            <tr>

                <td style="height:500px;background-color:#E6E6E6;width:650px">
                    <h2>Create Account</h2>
                    <table style="width:100%;">
                        <tr>
                            <td class="auto-style2">Username:</td>
                            <td class="auto-style2">
                                <input id="username" type="text" />
                            </td>
                            <td class="auto-style2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style2">First name:</td>
                            <td class="auto-style2">

                                <input id="firstname" type="text" />
                            </td>
                            <td class="auto-style2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">Last name:</td>
                            <td class="auto-style2">
                                <input id="lastname" type="text" />
                            </td>
                            <td class="auto-style2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style2">Date of birth:(dd/mm/yyyy)</td>
                            <td class="auto-style2">
                                <input id="dob" type="text" />
                            </td>
                            <td class="auto-style2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style2">phone number:</td>
                            <td class="auto-style2">
                                <input id="phoneno" type="number" />
                            </td>
                            <td class="auto-style2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style2">email:</td>
                            <td class="auto-style2">
                                <input id="email" type="text" />
                            </td>
                            <td class="auto-style2"></td>
                        </tr>
                        <tr>
                            <td class="auto-style2">password:</td>
                            <td class="auto-style2">
                                <input id="password" type="password" />
                            </td>
                            <td class="auto-style2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">confirm password:</td>
                            <td class="auto-style2">
                                <input id="cpassword" type="password" />
                            </td>
                            <td class="auto-style2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">aadhar number:</td>
                            <td class="auto-style2">
                                <input id="aadhar" type="number" />
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">account type:</td>
                            <td class="auto-style2">
                                <select id="account_type">
                                    <option value="savings">savings</option>
                                    <option value="current">current</option>
                                </select>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">balance:</td>
                            <td class="auto-style2">
                                <input id="balance" type="number" />
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">address:</td>
                            <td class="auto-style2">
                                <input id="address" type="text" />
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">Is Admin(yes/no : 1/0):</td>
                            <td class="auto-style2">
                                <select id="Isadmin">
                                    <option value="true">yes</option>
                                    <option value="false">no</option>
                                </select>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">&nbsp;</td>
                            <td class="auto-style2">
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">&nbsp;</td>
                            <td class="auto-style2">
                                <button type="button" id="submit">Submit</button>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">&nbsp;</td>
                            <td class="auto-style2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">&nbsp;</td>
                            <td class="auto-style2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">&nbsp;</td>
                            <td class="auto-style2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">&nbsp;</td>
                            <td class="auto-style2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="auto-style2">&nbsp;</td>
                            <td class="auto-style2">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table><br /><br />
                   
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#BDBDBD;text-align:center">
                    <b>website footer</b>
                </td>
            </tr>


        </table>


    </form>
</body>
