
@{
    ViewBag.Title = "DeleteAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <script src="~/Scripts/DeleteAccount.js"></script>



</head>
<body>
    <form id="form1">
        <table style="font-family : Arial" width="1200">


            <tr>

                <td style="height:500px;background-color:#E6E6E6;width:650px">
                    <h2>Delete Account</h2>
                    <table>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Enter Account number to be Closed:</td>
                            <td><input id="accno" type="text" /></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button type="button" id="close">close</button></td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#BDBDBD;text-align:center">
                    <b>website footer</b>
                </td>
            </tr>


        </table>


    </form>
</body>


