@*@model FrontEndMVC.Models.ApplyLoanModel*@
@{
    ViewBag.Title = "ApplyLoans";
    Layout = "~/Views/Shared/User.cshtml";
   
  //var loantype=  new List<SelectListItem>
  //  {
  //      new SelectListItem { Selected = true, Text = string.Empty, Value = ""},
  //      new SelectListItem { Selected = false, Text = "Personal Loan", Value = "Personal Loan"},
  //      new SelectListItem { Selected = false, Text = "Home Loan", Value = "Home Loan"},
  //       new SelectListItem { Selected = false, Text = "Car Loan", Value = "Car Loan"},
  //      new SelectListItem { Selected = false, Text = "Mortgage loan", Value = "Mortgage loan"},
  //  };
  //var emptype = new List<SelectListItem>
  //  {
  //      new SelectListItem { Selected = true, Text = string.Empty, Value = ""},
  //      new SelectListItem { Selected = false, Text = "Salaried", Value = "Salaried"},
  //      new SelectListItem { Selected = false, Text = "SelfEmployed", Value = "SelfEmployed"},
         
  //  };
    
}
<!DOCTYPE html>
<head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script>
     $(document).ready(function () {

         
         $("#btnApply").click(function () {
             jQuery.support.cors = true;

             var loantype = $("#loan_type").val();

             var Emptype = $("#Emp_type").val();
             var Income = $("#txtIncome").val();
             var City = $("#txtCity").val();
             var LoanAmount = $("#txtLoanAmount").val();
             
             //var payslip = $("#payslip").val();
             
            
             //var photo = $("#photo").val();

             //var signature = $("#signature").val();

           





             $.ajax({

                 url: "http://localhost:64294/api/user/applyLoan",

                 type: "POST",

                 contentType: "application/json; charset=utf-8",

                 dataType: "text",

                 data:'{"AccountNumber":"' + sessionStorage.getItem("accountno") + '","LoanType":"' + loantype + '","Income":"' + Income + '","LoanAmount":"' + LoanAmount + '","EmpType":"' + Emptype + '","City":"' + City + ' "}',

                 success: function (resultdata) {

                     console.log(resultdata);
                     alert("loan applied successfully");

                 },

                 error: function (e) {

                     alert(JSON.stringify(e));

                 }

             });
            

         });
        // $("#myModal").modal({ "backdrop": "static" });
     });
 </script>
</head>
<body>
@*<form id="ApplyLoanFm">*@
<h2>ApplyLoans</h2>

    <table style="width:100%;">
        <tr>
            <td class="auto-style2"> Loan Type :</td>
            <td class="auto-style2">
               @* @Html.DropDownList("LoanType", loantype, new { @style = "margin-bottom:10px" })*@
                <select name="LoanType" id="loan_type" style="margin-bottom:10px">
                    <option value="Personal Loan">Personal Loan</option>
                    <option value="Home Loan">Home Loan</option>
                    <option value="Car Loan">Car Loan</option>
                    <option value="Mortgage loan">Mortgage Loan</option>
                </select>
            </td>
            <td class="auto-style2"></td>
        </tr>
        <tr>
            <td class="auto-style2">Employment Type :</td>
            <td class="auto-style2">
                @*@Html.DropDownList("EmpType", emptype, new { @style = "margin-bottom:10px" })*@
                <select name="Emptype" id="Emp_type" style="margin-bottom:10px">
                    <option value="Salaried">Salaried</option>
                    <option value="SelfEmployed">SelfEmployed</option>
                    
                </select>
            </td>
            <td class="auto-style2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style2"> Income per month :</td>
            <td class="auto-style2">
                <input name="Income" id="txtIncome" type="number" style="margin-bottom:10px" />
               @* @Html.TextArea("Income", null, new { @style = "margin-bottom:10px" })*@
            </td>
            <td class="auto-style2"></td>
        </tr>
        <tr>
            <td class="auto-style2">City :</td>
            <td class="auto-style2">
              @*  @Html.TextArea("City", null, new { @style = "margin-bottom:10px" })*@
                <input id="txtCity" type="text" style="margin-bottom:10px" />
            </td>
            <td class="auto-style2"></td>
        </tr>
        <tr>
            <td class="auto-style2">Loan Amount :</td>
            <td class="auto-style2">
              @*  @Html.TextArea("LoanAmount", null, new { @style = "margin-bottom:10px" })*@
                 <input name="LoanAmount" id="txtLoanAmount" type="number" style="margin-bottom:10px" />
            </td>
            <td class="auto-style2"></td>
        </tr>
        @*<tr>
        <td class="auto-style2">Upload income declaring certificate (payslip) :</td>
        <td class="auto-style2">
            <input name="Payslip" id="payslip" type="file" style="margin-bottom:10px" />
        </td>
        <td class="auto-style2"></td>
    </tr>
    <tr>
        <td class="auto-style2">Upload Photograph :</td>
        <td class="auto-style2">
            <input name="Photo" id="photo" type="file" style="margin-bottom:10px" />
        </td>
        <td class="auto-style2"></td>
    </tr>
    <tr>
        <td class="auto-style2">Upload Signature :</td>
        <td class="auto-style2">
            <input name="Signature" id="signature" type="file" style="margin-bottom:10px"/>

        </td>
        <td class="auto-style2"></td>
    </tr>
*@
        @*<tr>
            <td class="auto-style2">&nbsp;</td>
            <td class="auto-style2">
                <button type="button" data-toggle="modal" data-target="#myModal" style="margin-bottom:10px">Upload Documents</button>
            </td>
        </tr>*@
        <tr>
            <td class="auto-style2">&nbsp;</td>
            <td class="auto-style2">
                <button type="button" id="btnApply">Apply</button>
            </td>
        </tr>
    </table>
    @*<script>
        window.onload = function () {
            document.getElementById("upload").onclick = function () { $('#myModal').modal('show'); }
        }</script>*@
@*</form>*@
    @*<form action="/User/Upload" method="post" enctype="multipart/form-data">
        <label for="payslip">Payslip:</label>
        <input type="file" name="payslip" id="payslip"/>
        <input type="submit" value="Upload"/>
        <label id="payslip" style="display: none;" />
    </form>*@

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">Upload documents here</h4>
                </div>
                <form action="/User/Upload" method="post" enctype="multipart/form-data">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="payslip">Payslip</label>
                            <input type="file" class="form-control" name="payslip" id="payslip" placeholder="payslip" />
                        </div>
                        <div class="form-group">
                            <label for="photo">Photo</label>
                            <input type="file" class="form-control" id="photo" placeholder="Photo" />
                        </div>
                        <div class="form-group">
                            <label for="signature">Signature</label>
                            <input type="file" class="form-control" id="signature" placeholder="Signature" />
                        </div>




                    </div>
                    <div class="modal-footer">
                        @*  <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>*@
                        @* <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>*@
                        <input type="submit" value="Upload" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>