
@{
    ViewBag.Title = "ApplyDeposits";
    Layout = "~/Views/Shared/User.cshtml";
}
<!DOCTYPE html>
<head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Scripts/ApplyDeposits.js"></script>
</head>
<h2>ApplyDeposits</h2>

<table>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Enter deposit amount :</td>
        <td><input id="depositamt" type="text" style="margin-bottom:10px" /></td>
    </tr>
    <tr>
        <td>Duration in months :</td>
        <td><input id="duration" type="text" style="margin-bottom:10px" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><button type="button" id="submit">Apply</button></td>
    </tr>
</table>