
@{
    ViewBag.Title = "ApplyLoans";
    Layout = "~/Views/Shared/User.cshtml";
}
<!DOCTYPE html>
<head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
</head>
<h2>ApplyLoans</h2>

<table>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Enter loan amount :</td>
        <td><input id="loanamt" type="text" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><button type="button" id="submit">Submit</button></td>
    </tr>
</table>