@*@model FrontEndMVC.Models.ApplyLoanModel*@
@{
    ViewBag.Title = "ApplyLoans";
    Layout = "~/Views/Shared/User.cshtml";

    //var loantype=  new List<SelectListItem>
    //  {
    //      new SelectListItem { Selected = true, Text = string.Empty, Value = ""},
    //      new SelectListItem { Selected = false, Text = "Personal Loan", Value = "Personal Loan"},
    //      new SelectListItem { Selected = false, Text = "Home Loan", Value = "Home Loan"},
    //       new SelectListItem { Selected = false, Text = "Car Loan", Value = "Car Loan"},
    //      new SelectListItem { Selected = false, Text = "Mortgage loan", Value = "Mortgage loan"},
    //  };
    //var emptype = new List<SelectListItem>
    //  {
    //      new SelectListItem { Selected = true, Text = string.Empty, Value = ""},
    //      new SelectListItem { Selected = false, Text = "Salaried", Value = "Salaried"},
    //      new SelectListItem { Selected = false, Text = "SelfEmployed", Value = "SelfEmployed"},

    //  };

}
<!DOCTYPE html>
<head>
    <title></title>
    <style type="text/css">
        label.error {
            color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ApplyLoanFm").validate({
                rules: {
                    loan_type: "required",
                    Emp_type: "required",
                    txtIncome: "required",
                    txtCity: "required",
                    txtLoanAmount: "required",
                },
                messages: {
                    loan_type: {
                        required: "This field is required.",
                    },
                    Emp_type: "This field is required.",
                    txtIncome: "This field is required.",
                    txtCity: "This field is required.",
                    txtLoanAmount: "This field is required.",
                },
                submitHandler: function (form) {
                    jQuery.support.cors = true;


                    var loantype = $("#loan_type").val();

                    var Emptype = $("#Emp_type").val();
                    var Income = $("#txtIncome").val();
                    var City = $("#txtCity").val();
                    var LoanAmount = $("#txtLoanAmount").val();

                    //var payslip = $("#payslip").val();


                    //var photo = $("#photo").val();

                    //var signature = $("#signature").val();







                    $.ajax({

                        url: "http://localhost:64294/api/user/applyLoan",

                        type: "POST",

                        contentType: "application/json; charset=utf-8",

                        dataType: "text",

                        data: '{"AccountNumber":"' + sessionStorage.getItem("accountno") + '","LoanType":"' + loantype + '","Income":"' + Income + '","LoanAmount":"' + LoanAmount + '","EmpType":"' + Emptype + '","City":"' + City + ' "}',

                        success: function (resultdata) {

                            console.log(resultdata);
                            alert("loan applied successfully");
                            window.location.href = "http://localhost:55773/User/ApplyLoans"

                        },

                        error: function (e) {

                            alert(JSON.stringify(e));

                        }

                    });
                }

            });
        });
        // $("#myModal").modal({ "backdrop": "static" });
        $("#btnApply").click(function () {

        });
    </script>
</head>
<body>
    <form id="ApplyLoanFm">

        @*<h2>Apply Loans</h2>*@
        <table align="center">
            <tr>
                <td align="left">
                    <table width="500px" align="right" class="">
                        <tr>
                            <td>Loan Type :</td>
                            <td>
                                <select name="loan_type" id="loan_type" class="required" style="margin-bottom:10px">
                                    <option value="">None</option>
                                    <option value="Personal Loan">Personal Loan</option>
                                    <option value="Home Loan">Home Loan</option>
                                    <option value="Car Loan">Car Loan</option>
                                    <option value="Mortgage loan">Mortgage Loan</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Employment Type :</td>
                            <td>
                                <select name="Emp_type" id="Emp_type" style="margin-bottom:10px" class="required">
                                    <option value="">None</option>
                                    <option value="Salaried">Salaried</option>
                                    <option value="SelfEmployed">SelfEmployed</option>

                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Income per month:</td>
                            <td>
                                <input type="text" id="txtIncome" name="txtIncome" style="margin-bottom:10px">
                            </td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td>
                                <input type="text" id="txtCity" name="txtCity" style="margin-bottom:10px">
                            </td>
                        </tr>
                        <tr>
                            <td>Loan Amount:</td>
                            <td>
                                <input type="text" id="txtLoanAmount" name="txtLoanAmount" style="margin-bottom:10px">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" id="btnApply" value="submit">
                            </td>
                        </tr>
                    </table>
                <td align="center"></td>
            </tr>
        </table>
    </form>
</body>