

@{
    ViewBag.Title = "ApplyDeposits";
    Layout = "~/Views/Shared/User.cshtml";
}
<!DOCTYPE html>
<head>
    <title></title>
    <style type="text/css">
        label.error {
            color: red;
        }
    </style>
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Scripts/ApplyDeposits.js"></script>
</head>

<body>
    <form id="ApplyDepositForm">
        @*<h2>ApplyDeposits</h2>*@
        <table align="center">
            <tr>
                <td align="left">
                    <table width="500px" align="right" class="">
                        <tr>
                            <td>Enter deposit amount :</td>
                            <td>
                                <input type="text" id="depositamt" name="txtdepositamt" style="margin-bottom:10px">
                            </td>
                        </tr>
                        <tr>
                            <td>Duration in months :</td>
                            <td>
                                <input type="text" id="duration" name="txtduration" style="margin-bottom:10px">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" id="submit" value="Apply">
                            </td>
                        </tr>
                    </table>
                <td align="center"></td>
            </tr>
        </table>
    </form>
</body>
