
@{
    ViewBag.Title = "SendMoney";
    Layout = "~/Views/Shared/User.cshtml";
}

<!DOCTYPE html>
<head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

    <script src="~/Scripts/SendMoney.js"></script>
</head>
<h2>Send Money</h2>

<table>
    <tr>
        <td>Enter account number to transfer :</td>
        <td><input id="receiver" type="text" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
   
    <tr>
        <td>Enter amount to transfer :</td>
        <td><input id="amount" type="text" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><button type="button" id="submit">Transfer</button></td>
    </tr>
</table>

