
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/User.cshtml";
}

<head>
<title></title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        body = "Welcome " + sessionStorage.getItem("username");
        $("#msg").append(body);
    });
</script>



</head>

<body>
    <form id="form1">
        <h2 id="msg"></h2>


    </form>
</body>


